
html,body {
    height:100%;
    width: 100%;
}



a {
    margin-left: 25px;
    margin-right: 10px;
}

textarea {
    resize: none;
    width: available;
}

.special{
    height:100%;
    background-image: url("background.jpg");
}

.navbar{
    background-image: url("background.jpg");
}

.msg {
    width: 70%;
    border-radius: 10px;
    margin: 10px;
    font-size: 12pt;
    padding: 10px;
    font-family: Tahoma, Geneva, sans-serif;
}

.msg-from {
    float: left;
    background-color: #868e96;
}

.msg-to {
    float: right;
    background-color: #afd9ee;
}

.navbar {
    background-color: #68bdff;
    margin-bottom: 0px;
}

#main-bg {
    height: 92.5%;
    margin-right: 15px
}

.col {
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    height: 100%;
}
#col-left {
    /*border-top: #17a2b8 1px solid;*/
    background-color: #e5f8ff;
    overflow: scroll;
}

#col-right {
    border-left: #000000 1px solid;
    /*border-top: #17a2b8 1px solid;*/
    background-color: #f2f8ff;
}

button{
    margin: auto 10px;
}

.col-header {
    padding-top: 4px;
    padding-bottom: 2px;
    /*margin-bottom: 10px;
    border-bottom: #000000 1px solid;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header-text {
    display: inline-block;
    margin-top: 7px;
}

#mainMsgContainer {
    height: 70%;
    overflow: scroll;
}

#msgInput {
    margin-top: 10px;
}

#myList {
    margin-top: 10px;
}
