
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.adds {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    background-color: #68bdff;
}
.orderItem {
    padding-bottom: 5px;
    padding-top: 5px;
}