<div class="h-100 jumbotron special text-center">
    <div class="container container-full-bg" id="jumbotron-container">
        <h1 class="display-1">{{appTitle}}</h1>
        <p class="lead">
            This is a landing page to an application no one will ever use
        </p>
        <br>
        <hr class="my-4">
        <br>
        <form>
            <div class="form-group">
                <label for="nick">Your unique nick</label>

                <div class="container">
                    <input type="text"  class="form-control w-75 center-block" id="nick" placeholder="Enter your nick here" ng-model="name">
                </div>

                <small id="emailHelp" class="form-text text-muted">
                    This is the name you will be using for current browser session
                </small>
            </div>
            <a class="btn btn-primary btn-lg w-25" ng-click="validateName()">
                Enter
            </a>
        </form>
    </div>

</div>