<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Enter an username</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <input type="text" class="form-control input-lg" ng-model="newUser">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewUser()">Add an user</button>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        {{appTitle}}
    </a>
</nav>
<div id="main-bg">
    <div class="row">
        <div class="col col-sm-4" id="col-left">
            <div class="col-header align-items-center text-center">
                <button type="button" class="btn btn-primary pull-left" ng-click="getMessagesFromServer()">
                    <i class="fa fa-undo"></i>
                </button>
                <span class="h5 header-text">Conversations</span>
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>

            </div>

            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action text-center center-block"
                   data-toggle="list" ng-href="#{{item.user}}"
                   ng-click="setActiveUser(item.user)" target="_self" role="tab" ng-repeat="item in messageBoard">
                    {{item.user}}
                    <span class="badge-pill badge-secondary pull-right" ng-class="{'hidden': !item.event}">!</span>
                </a>
            </div>

        </div>
        <div class="col col-sm-8" id="col-right">
            <div class="col-header text-center">
                <span class="h5 header-text">Message to : {{activeUser}} </span>
            </div>

            <div id="mainMsgContainer">
                <div class="tab-content">
                    <div class="tab-pane" id="{{item.user}}" role="tabpanel" ng-repeat="item in messageBoard">
                        <div class="msg msg-from text-center" ng-class="{'msg-to': imessage.from == userName, 'msg-from': imessage.to == userName}"
                             ng-repeat="imessage in item.messages">
                            {{imessage.content}}
                        </div>

                    </div>
                </div>
            </div>
            <div class="container" id="msgInput">
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" ng-model="messagePrototype.content"></textarea>
                </div>
                <button class="btn btn-block center-block w-75 btn-primary btn-sm" ng-click="sendMessage()">Send!</button>

            </div>

        </div>
    </div>
</div>